name: Check Formatting

on:
  pull_request:
    branches: [ master ]

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Enable Flakes
        uses: DeterminateSystems/flake-checker-action@main

      - name: Run Nix Flake Check
        run: nix flake check --all-systems
